.sidebar {
    width: 14%;
    height: 100vh;
    background: #f9fafb;
    display: flex; /* 부모요소로서 flex를 선언하였음 */
    flex-direction: column; /* 세로로 정렬합니다. */
    border-right: 2px solid #e0e0e0; /* 사이드바 오른쪽에 선을 그어줍니다. */
  }
  
  .logo11 {
    width: 116px; /* 로고의 크기를 조절합니다. */
    margin: 20px 0; /* 로고의 위치를 조절합니다. */
    align-self: center; /* 로고를 가운데 정렬합니다. */
  }
  .logoBox {
    align-self: center; /* 로고를 가운데 정렬합니다. */
  }
  .sidebar p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 14px;
  }