.sidebarItem {
    display: flex;
    align-items: center;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #6b7280;
  }
  .sidebarItem:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    color: black;
  }
  .sidebarItem.selected {
    background-color: #f0f0f0;
    border-radius: 5px;
    color: black;
  }
  
  .itemIcon {
    display: flex;
    align-items: center;
  }
  
  .itemTitle {
    font-size: 15px;
    margin-left: 20px;
  }