.storage-box {
    padding: 20px; 
    margin-left: 280px;
}

table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    padding: 10px; 
    text-align: center; 
}

.PostButton {
   margin-right: 140px;
}

.PostButton button {
    float: right;
    padding: 8px 20px;
}

.Task {
    font-size: 24px;
    border-bottom: 1px solid black;
    display: inline-block;
    width: 1160px;
    padding-bottom: 15px;
    margin-bottom: 28px;
  }
  
.StorageFont{
    font-size: 24px;
    margin-left: -2px;
    margin-bottom: 10px;
  }

  .ongoing {
    color: #24E84F;
  }
  