.Submission-table{
    margin-top: -715px;
    margin-left: 280px;
}

.no-border-input {
  border: none;
  outline: none; /* 포커스시에도 테두리가 생기지 않도록 */
  padding: 0;
  line-height: 1.2;
  width: 90%; /* 필요한 경우, 입력 필드의 너비를 설정 */
  font-size: 16px; /* 폰트 크기 설정 */
  margin-left: 10px; /* label과 input 사이의 간격 조정 */
  margin-top: 6px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* 각 그룹 간의 간격 설정 */
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 7px;

}

.form-group label{
  padding-right: 20px;
 
}
.task {
    font-size: 24px;
    border-bottom: 1px solid black;
    display: inline-block;
    width: 1280px;
    padding-bottom: 15px;
    margin-bottom: 28px;
    margin-top: 30px;
  }

  .mission-button{
    float: right;
    background-color: #E86161;
    border-radius: 20px;
    border: 0.2px #E86161;
    width: 84px;
    height: 30px;
    color: white;
    margin-right: 30px;
    cursor: pointer;
  }

  .mission-button:hover {
    background-color: rgb(196, 54, 54);
    color: white;
  }

  .sub-line{
   margin-left: 30px;
   display: inline-block; 
  }

  .title-line{
    margin-left: 38px;
  }

  .submissionMethod-line{
    margin-left: 6px;
    margin-right: 10px;
  }

  .postingDate-line{
    margin-left: 22px;
    margin-right: 10px;
  }

.submission-content-container {
  margin-top: 20px; /* Adjust the value as needed */
}
/* Submission.css */
.submission-content-container .ck-editor__editable {
  min-height: 250px; /* Ensure the editor area is at least 400px high */
  width: 100%; /* Adjust the width as needed */
}
