.calendar-container {
    height: 80vh;
    width: 60vw;
  }

  .Calendar {
    font-size: 24px;
    padding-bottom: 15px;
    margin-bottom: 28px;
    margin-top: 30px;
  }

  .calendar-form{
    margin-top: -715px;
    margin-left: 350px;
  }

  .add-event-button:hover {
    background-color: #7c7c7c;
  }
  
  .rbc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .rbc-toolbar-label {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    margin-left: -630px;
  }
  
  .rbc-btn-group {
    display: flex;
    gap: 5px;
  }
  
  .rbc-btn-group button {
    padding: 5px 10px;
    border: none;
    background-color: #cccccc;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .add-event-button {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: rgb(149, 149, 149);
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-event-button .icon {
    margin-right: 5px;
  }
  
  .button-text {
    margin-left: 5px;
  }

