.canvas-container {
  width: 100%;
  height: 98vh;
}

.tool-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 8px;
  border-radius: 10px;
  background-color: #e7e6e7;
  border: 1px solid #e7e6e7;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: absolute;
  top: 14px;
  left: 18px;
}

.tool-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: #e7e6e7;
  cursor: pointer;
}

.tool-bar button:disabled {
  background-color: #7279ff;
}

.color-picker {
  position: absolute;
  top: 60px;
  left: 100px;
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.color-picker button {
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
}

.check-mark {
  position: absolute;
  top: 2px;
  left: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
}

.text-align-toolbar {
  position: absolute;
  top: 20px;
  left: 37%;
  display: flex;
  gap: 10px;
}

.text-size-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.text-align-toolbar button,
.text-size-toolbar button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  width: 45px; 
  height: 40px; 
}

.text-align-toolbar button.active,
.text-size-toolbar button.active {
  background-color: #d0d0d0;
}

.text-align-toolbar button:hover,
.text-size-toolbar button:hover {
  background-color: #e0e0e0;
}

.icon{
  margin-left: -3px;
}